<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alizinha.c4q.nyc.onemorechance" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/omclogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddEventToCalendar"
            android:label="@string/title_activity_add_event_to_calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgramInfo"
            android:label="@string/title_activity_program_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:label="One More Chance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BiographyClass"
            android:label="@string/title_activity_biography_class" >
        </activity>
        <activity
            android:name=".MyPlaces"
            android:label="@string/title_activity_my_places" >
        </activity>
    </application>

</manifest>
